{% load static %}

<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
  <div class="container">
    <a class="navbar-brand text-white" href="/" rel="tooltip" title="Kuwait Culture Office" data-placement="bottom">
      <img src="{% static 'images/logos/kuwait-logo-small.png' %}" class="mx-0 my-0 w-70 h-70">
    </a>

    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover w-100">

        <!-- Student Resources Link-->
         <li class="nav-item dropdown dropdown-hover mx-2">
            <a id="dropdownMenuHome" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
               href="/">
                Home
            </a>
         </li>

        <!-- Student Resources Link-->
         <li class="nav-item dropdown dropdown-hover mx-2">
            <a id="dropdownMenuStudents" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
               href="/students">
                Student Resources
            </a>
         </li>
        <!-- Sponsors Link-->
        <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                  href="javascript:;" id="dropdownMenuSponsors" data-bs-toggle="dropdown" aria-expanded="false">
                  Sponsors
                  <img src="{% static 'img/down-arrow-white.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-block d-none">
                  <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-none d-block">
                </a>
                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
                  aria-labelledby="dropdownMenuSponsors">
                  <!-- For Desktop Screen-->
                  <div class="d-none d-lg-block">
                    <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-0">
                      <i class="fas fa-university"> </i>
                    </div>
                  </div>

                  <div class="d-none d-lg-block">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                        <a href="../../mohe/"> MINISTRY OF HIGHER EDUCATION </a>
                    </div>
                  </div>

                  <div class="d-none d-lg-block">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <div class="d-inline-block">
                      </div>
                      <a href="../../kuwait_university/"> KUWAIT UNIVERSITY</a>
                    </div>
                  </div>

                  <div class="d-none d-lg-block">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../civil_service/">CIVIL SERVICE COMMISSION</a>
                    </div>
                  </div>

                  <div class="d-none d-lg-block">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../paaet/">PAAET</a>
                    </div>
                  </div>

                  <div class="d-none d-lg-block">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../kuwait_authority/">KUWAIT INVESTMENT AUTHORITY</a>
                    </div>
                  </div>
                  <!-- For Mobile Screen-->
                  <div class="d-lg-none">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-center align-items-center px-0">
                      <i class="fas fa-university"> </i>
                    </div>
                  </div>

                  <div class="d-lg-none">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../mohe/"> MINISTRY OF HIGHER EDUCATION </a>
                    </div>
                  </div>

                  <div class="d-lg-none">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../kuwait_university/"> KUWAIT UNIVERSITY</a>
                    </div>
                  </div>

                  <div class="d-lg-none">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../civil_service/">CIVIL SERVICE COMMISSION</a>
                    </div>
                  </div>

                  <div class="d-lg-none">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../paaet/">PAAET</a>
                    </div>
                  </div>

                  <div class="d-lg-none">
                    <div class="nav-link dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center px-0">
                      <a href="../../kuwait_authority/">KUWAIT INVESTMENT AUTHORITY</a>
                    </div>
                  </div>
                </div>
              </li>
        <!-- University Listings Link-->
        <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                  href="https://kuwaitculturedc.org/university_listing/school_programs_list.php" id="dropdownMenuUniversityList" target="_blank">
                  University Listings
                </a>
              </li>
        <!-- Announcements Link-->
        <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
               href="/announcements" id="dropdownMenuAnnouncements">
                Announcements
            </a>
        </li>
        <!--  Directory Link-->
        <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
               href="/contacts" id="dropdownMenuDirectory">
                Directory
            </a>
        </li>


<!--        {% if request.user.is_authenticated %}-->
<!--        <li class="nav-item ms-lg-auto">-->
<!--          <a class="nav-link nav-link-icon me-2" href="{% url 'logout' %}">-->
<!--            <i class="fa fa-sign-out me-1"></i>-->
<!--            <p class="d-inline text-sm z-index-1 font-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout">Logout</p>-->
<!--          </a>-->
<!--        </li>-->
<!--        {% else %}-->
<!--        <li class="nav-item ms-lg-auto">-->
<!--          <a class="nav-link nav-link-icon me-2" href="{% url 'login' %}">-->
<!--            <i class="fa fa-sign-in me-1"></i>-->
<!--            <p class="d-inline text-sm z-index-1 font-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">Login</p>-->
<!--          </a>-->
<!--        </li>-->
<!--        {% endif %}-->

<!--        <li class="nav-item my-auto ms-3 ms-lg-0">-->
<!--          <a href="https://appseed.us/product/soft-ui-design/django/" target="_blank" class="btn btn-sm  bg-white  btn-round mb-0 me-1 mt-2 mt-md-0">Download</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->